*{
    box-sizing: border-box;
}
.navbar ul{
    list-style-type: none;
    background-image: url(do.jpg);
    padding:0%;
    margin: 0%;
    overflow: hidden;
    width: 100%;
}
.navbar a{
    text-decoration: none;
    color: rgb(90, 1, 60);
    display: block;
    text-align:center;
    padding: 15px;
}
.navbar a:hover{
    background-color: rgb(243, 229, 240);
    text-decoration: underline;
    border-radius: 50%;
}
body{
    background-color: rgb(251, 241, 251);
}
#name{
    font: 1.5em sans-serif;
    padding-left: 5%;
    padding-top: 1%;
    float:left;
}
.navbar li{
    float: right;
    text-align: right;
    padding-left: 1%;
}
#last{
    background-image: url(do.jpg);
    width: 100%;
    height:fit-content;
    text-align: center;
    padding-top: 0.1px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
}
#text{
    animation-name: slideleft;
    animation-duration: 2s;
}
@keyframes slideleft{
    from{ transform: translateX(50%)}
}
#heading{
    animation-name: fade;
    opacity: 1;
    animation-duration: 8s;
}
@keyframes fade {
    50%{opacity: 0;}
}
b{
    color: rgb(152, 18, 96);
}
button:hover{
    background-color: rgb(255, 255, 255);
}
.image img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px 4px white;
    transition: transform 0.3s ease;
}
.image{
    display: grid;
    gap: 120px;
    justify-content: center;
    grid-template-columns: repeat(4, 260px);  
}
.image h3{
    color: rgb(152, 18, 96);
    text-align: center;
    transition: transform 0.3s ease-out;
}
.image h3:hover{
    transform: scale(1.03);
}
a{
    text-decoration: none;
}
.image div:hover{
    background: linear-gradient(0deg,rgb(251, 241, 251),rgba(159, 17, 100, 0.681));
}
.image img:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 20px white ;
}
.image div{
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 10px;
    cursor: pointer;  
}
#know:active{
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 15px whitesmoke;
}
#start{
    background-color: #350D20;
    height: 300px;
}
#about{
    animation-name: slideright;
    animation-duration: 2s;
    transition: ease-out;
}
@keyframes slideright{
    from{transform: translateY(-10%);}
}
@keyframes fade{
    100%{opacity: 0;}
}
.girl{
    display: flex;
    text-align: center;
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center align items horizontally */
}
.girl p{
    text-indent: 70px;
}
.girl button{
    height: 50px;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(152, 18, 96);
    color: white;
    cursor: pointer;
    border: none;
}
.girl button:hover{
    background-color: rgb(122, 14, 77);
    text-shadow: 0px 0px 5px whitesmoke;
    transform: scale(1.02);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.427);
}
.girl img{
    height: 500px;
    width: 600px;
}
.review img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}
.review{
    width: 300px;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}
#girls{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
}
.review p{
    visibility: hidden;
    transform: translateY(20px); /* Start slightly below */
    transition: all 0.2s ease-in; 
}
.review:hover{
    box-shadow: 10px 10px 30px #350D20;
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.review:hover p{
    visibility: visible;
    transform: translateY(0);
}
#g1:hover{
    content: url('girl1_1.png');
    transition: opacity 0.5s ease;
}
#g2:hover{
    content: url('girl2_2.png');
}
#g3:hover{
    content: url('girl3_1.jpg');
}
.constraints img{
    height: 15px;
    width: 15px;
}
.constraints{
    text-align: left;
}
#foot{
    display: flex;
    justify-content:space-around;
}